In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

ResultQuery = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [5]:
#  3. Convert the June temperatures to a list.
JuneTemp = [] 
JuneTemp = ResultQuery.all()

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
JuneTemp_df = pd.DataFrame(JuneTemp, columns=['date','Temp'])

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
JuneTemp_df.describe()

              Temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
ResultQuery1 = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [9]:
# 7. Convert the December temperatures to a list.
DecTemp = [] 
DecTemp = ResultQuery1.all()

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
DecTemp_df = pd.DataFrame(DecTemp, columns=['date','Temp'])

In [14]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
DecTemp_df.describe()

              Temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000